/*
	@name experience
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 832px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__experience {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 832px;
	background:rgba(255,255,255,1);
}


#ellipse_10 {
	opacity:0.36000001430511;
	top: -834px;
	left: -1661px;
	width: 2500px;
	height: 2500px;
	-ms-border-radius: 1250px / 1250px;
	-o-border-radius: 1250px / 1250px;
	-moz-border-radius: 1250px / 1250px;
	-webkit-border-radius: 1250px / 1250px;
	border-radius: 1250px / 1250px;
	-ms-box-shadow:0px 4px 39px 1px rgba(255,238,255,1);
	-o-box-shadow:0px 4px 39px 1px rgba(255,238,255,1);
	-webkit-box-shadow:0px 4px 39px 1px rgba(255,238,255,1);
	-moz-box-shadow:0px 4px 39px 1px rgba(255,238,255,1);
	box-shadow:0px 4px 39px 1px rgb(254, 220, 255);
	background:rgb(254, 220, 255);
}

#component_4 {
	top: 215px;
	left: 153px;
	width: 612px;
	height: 374px;
}

#_bg__component_4 {
	top: 0px;
	left: 0px;
	width: 612px;
	height: 374px;
	background:#;
}


#experience {
	top: 0px;
	left: 196px;
	width: 190.8px;
	height: 74.8px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 48px;
	text-align: left;
	color:#000000;
}


#i_ve_worked_on_projects_and_assignments_that_apply_my_classroom_knowledge_to_real_world_scenarios__implementing_algorithms__and_solving_coding_challenges_ {
	opacity:0.8;
	top: 107px;
	left: 31px;
	width: 591.2px;
	height: 129.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#i_actively_collaborate_on_cross_functional_projects__enhancing_my_communication_and_teamwork_skills_while_contributing_to_innovative_software_solutions_ {
	opacity:0.8;
	top: 254px;
	left: 31px;
	width: 605.2px;
	height: 129.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#ellipse_20 {
	top: 123px;
	left: 3px;
	width: 6px;
	height: 6px;
	-ms-border-radius: 3px / 3px;
	-o-border-radius: 3px / 3px;
	-moz-border-radius: 3px / 3px;
	-webkit-border-radius: 3px / 3px;
	border-radius: 3px / 3px;
	background:rgba(0,0,0,1);
}


#ellipse_21 {
	top: 268px;
	left: 0px;
	width: 6px;
	height: 6px;
	-ms-border-radius: 3px / 3px;
	-o-border-radius: 3px / 3px;
	-moz-border-radius: 3px / 3px;
	-webkit-border-radius: 3px / 3px;
	border-radius: 3px / 3px;
	background:rgba(0,0,0,1);
}

#component_5 {
	top: 130px;
	left: 894px;
	width: 651px;
	height: 571px;
}

#_bg__component_5 {
	top: 0px;
	left: 0px;
	width: 651px;
	height: 571px;
	background:#;
}


#ellipse_8 {
	top: 104px;
	left: 204px;
	width: 362.88px;
	height: 362.88px;
	-ms-border-radius: 181.44px / 181.44px;
	-o-border-radius: 181.44px / 181.44px;
	-moz-border-radius: 181.44px / 181.44px;
	-webkit-border-radius: 181.44px / 181.44px;
	border-radius: 181.44px / 181.44px;
	
	-ms-transform:rotate(-89.58deg);
	-o-transform:rotate(-89.58deg);
	-webkit-transform:rotate(-89.58deg);
	-moz-transform:rotate(-89.58deg);
	transform:rotate(-89.58deg);
	background:rgba(164,206,255,1);
}


#ellipse_9 {
    opacity: 1;
    top: 18px;
    left: 119px;
    width: 531px;
    height: 531px;
    -ms-border-radius: 265.5px / 265.5px;
    -o-border-radius: 265.5px / 265px;
    -moz-border-radius: 265.5px / 265.5px;
    -webkit-border-radius: 265.5px / 265.5px;
    border-radius: 265.5px / 265.5px;
    border: 1px solid #000000; /* Sets a 1-pixel solid black border */
}


#_home {
	top: 256px;
	left: 283px;
	width: 119.8px;
	height: 74.8px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 48px;
	text-align: left;
	color:#000000;
}


#_ellipse_11 {
	top: 20px;
	left: 270px;
	width: 40px;
	height: 40px;
	-ms-border-radius: 20px / 20px;
	-o-border-radius: 20px / 20px;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	background:rgba(164,206,255,1);
}


#_ellipse_16 {
	top: 511px;
	left: 270px;
	width: 40px;
	height: 40px;
	-ms-border-radius: 20px / 20px;
	-o-border-radius: 20px / 20px;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	background:rgba(164,206,255,1);
}


#_ellipse_15 {
	top: 439px;
	left: 163px;
	width: 40px;
	height: 40px;
	-ms-border-radius: 20px / 20px;
	-o-border-radius: 20px / 20px;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	background:rgba(164,206,255,1);
}


#_ellipse_14 {
	top: 331px;
	left: 108px;
	width: 40px;
	height: 40px;
	-ms-border-radius: 20px / 20px;
	-o-border-radius: 20px / 20px;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	background:rgba(164,206,255,1);
}


#_ellipse_13 {
	top: 204px;
	left: 108px;
	width: 40px;
	height: 40px;
	-ms-border-radius: 20px / 20px;
	-o-border-radius: 20px / 20px;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	background:rgba(164,206,255,1);
}


#ellipse_12 {
	top: 94px;
	left: 163px;
	width: 40px;
	height: 40px;
	-ms-border-radius: 20px / 20px;
	-o-border-radius: 20px / 20px;
	-moz-border-radius: 20px / 20px;
	-webkit-border-radius: 20px / 20px;
	border-radius: 20px / 20px;
	background:rgba(164,206,255,1);
}


#_about_me {
	opacity:0.4;
	top: 0px;
	left: 163px;
	width: 123.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#experience_ek1 {
	top: 85px;
	left: 36px;
	width: 144.6px;
	height: 55.6px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#_education {
	opacity:0.4;
	top: 204px;
	left: 0px;
	width: 119.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#_skills {
	opacity:0.4;
	top: 331px;
	left: 40px;
	width: 79.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#_tools {
	opacity:0.4;
	top: 439px;
	left: 101px;
	width: 71.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}


#_contact {
	opacity:0.4;
	top: 531px;
	left: 183px;
	width: 97.2px;
	height: 49.2px;
	overflow: hidden;
	font-family: Rancho;
	font-size: 32px;
	text-align: left;
	color:#000000;
}



/* Add your custom CSS here */
